@font-face {
  font-family: 'SkyText';
  src: url('../fonts/sky-text.woff') format('woff');
}
body {
  font-family: 'SkyText';
  margin: 0;
}
#scrolly {
  position: relative;
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  transform: translate3d(0, 0, 0);
  background-color: #8a8a8a;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 2rem auto;
  color: #111111;
  /* background-color: rgba(0, 0, 0, 0.1); */
  z-index: -1;
}

.step:last-child {
  margin-bottom: 0;
}

/* .step.is-active p {
  background-color: #3b3b3b;
  color: #f9f9f9;
} */

.step p {
  background-color: #f9f9f9;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
